:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  padding: 2rem;
  max-width: 800px;
  min-height: 100vh;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 0.5rem;
  overflow: hidden;
}

th {
  text-align: left;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  color: #646cff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

td {
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.07);
  cursor: pointer;
}

input,
textarea {
  background-color: #1a1a1a;
  color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  padding: 0.8rem;
  width: 100%;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #646cff;
}

button {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

button:hover {
  filter: brightness(1.2);
}

fieldset {
  margin-bottom: 0.5rem;
}

header,
article,
nav {
  text-align: left;
}

.button-bar {
  display: flex;
  justify-content: space-between;
}

.create-btn {
  background-color: #2da44e;
  border-color:;
}

.delete-btn {
  background-color: #cb2431;
}
